<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <!-- <h2 class="section-heading">About</h2> -->
                    <!-- <h3 class="section-subheading text-muted">Do you want to ride your bike more comfortably and efficiently? Do you know how to adjust your saddle height to fit your body and riding style? If not, don't worry. ComfyBikes.de is here to help! </h3> -->
                    <!-- <h3 class="section-subheading text-muted">ComfyBikes.de is a simple and smart app that helps you find the optimal saddle height for your bike. All you need to do is take a picture of yourself and your bike, and the app will analyze it and suggest the changes to be made to your saddle height. You can also see how different saddle heights affect your posture, pedaling power, and comfort. </h3> -->
                    <!-- <h3 class="section-subheading text-muted">ComfyBikes.de is based on scientific research and expert advice on bike fitting. It works for any type of bike and rider. Whether you are a casual cyclist, a commuter, a racer, or a mountain biker, ComfyBikes.de can help you improve your performance and prevent injuries.o help! </h3> -->
                    <h2 class="section-heading">About Our Journey</h2>
                    <h3 class="section-subheading text-muted">A timeline of our project's development</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>April 21-22 2023</h4>
                                    <h4 class="subheading">Our Humble Beginnings</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We participated in the Rad-Daten-Hackathon 2023 organised by Deutche Bahn, and won the most Innovative project prize!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>May 6th 2023</h4>
                                    <h4 class="subheading">VELOBerlin</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We present our project at VELOBerlin 2023</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>June 2023</h4>
                                    <h4 class="subheading">Transition to Full Service</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Releasing the App on Appstores</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>July 2023</h4>
                                    <h4 class="subheading">Phase Two Expansion</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Create more configuration options and fine tuning</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>