<!-- Services Section -->
<section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Idea</h2>
                    <!-- <h3 class="section-subheading text-muted">Do you want to ride your bike more comfortably and efficiently? Do you know how to adjust your saddle height to fit your body and riding style? If not, don't worry. ComfyBikes.de is here to help! </h3> -->
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-bicycle fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Comfortable biking</h4>
                    <p class="text-muted">Do you want to ride your bike more comfortably and efficiently? Do you know how to adjust your saddle height to fit your body and riding style? If not, don't worry. ComfyBikes.de is here to help! </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-mobile fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Self sufficient</h4>
                    <p class="text-muted">ComfyBikes.de is a simple and smart app that helps you find the optimal saddle height for your bike. All you need to do is take a picture of yourself and your bike, and the app will analyze it and suggest the changes to be made to your saddle height. You can also see how different saddle heights affect your posture, pedaling power, and comfort. </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-bar-chart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Research based</h4>
                    <p class="text-muted">ComfyBikes.de is based on scientific research and expert advice on bike fitting. It works for any type of bike and rider. Whether you are a casual cyclist, a commuter, a racer, or a mountain biker, ComfyBikes.de can help you improve your performance and prevent injuries! </p>
                </div>
            </div>
        </div>
    </section> 